include .coveragerc
include LICENSE
include *.py
include Readme.md
include Pipfile
include Pipfile.lock
recursive-include armory2 *.md
recursive-include armory2 *.py
recursive-include armory2 *.default
recursive-include armory2 *.html
recursive-include armory2/armory_main/static *