include .coveragerc
include LICENSE
include *.py
include Readme.md
include Pipfile
include Pipfile.lock
recursive-include armory *.md
recursive-include armory *.py
recursive-include armory *.default
recursive-include armory *.html
recursive-include armory *.css
recursive-include armory *.js
recursive-include armory *.map