argcomplete
arrow
asgiref
async-generator
attrs
backcall
beautifulsoup4
blessed
bs4
certifi
cffi
chardet
charset-normalizer
configparser
cryptography
decorator
Django
django-picklefield
django-q2
dnspython
exceptiongroup
filelock
fuzzywuzzy
greenlet
h11
idna
ipaddr
ipwhois
ipython
ipython-genutils
jedi
lxml
matplotlib-inline
mysqlclient
netaddr
numpy
outcome
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pycparser
Pygments
pyOpenSSL
pyperclip
PySocks
python-dateutil
python-docx
python-Levenshtein
pytz
PyYAML
redis
requests
requests-file
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlalchemy-mixins
sqlparse
termcolor
thready
tld
tldextract
traitlets
trio
trio-websocket
urllib3
wcwidth
whois
wsproto
xmltodict
opencv-python-headless
jsonlines
