<div class="card">
  <div class="card-header">
    <h4>Nessus Findings</h4>
  </div>
  <div class="card-body">
    {% for vuln in vulns %}
    <div class="row ">
      <div class="col-md-12">
        {% if vuln.severity == 0 %}
        <button type="button" class="btn btn-light btn-sm btn-block" data-toggle="collapse" data-target="#detail-{{ vuln.id }}">{{ sev_map|get_item:vuln.severity }} - {{ vuln.name }}</button>
        {% elif vuln.severity == 1 %}
        <button type="button" class="btn btn-info btn-sm btn-block" data-toggle="collapse" data-target="#detail-{{ vuln.id }}">{{ sev_map|get_item:vuln.severity }} - {{ vuln.name }}</button>
        {% elif vuln.severity == 2 %}
        <button type="button" class="btn btn-warning btn-sm btn-block" data-toggle="collapse" data-target="#detail-{{ vuln.id }}">{{ sev_map|get_item:vuln.severity }} - {{ vuln.name }}</button>
        {% elif vuln.severity == 3 %}
        <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="collapse" data-target="#detail-{{ vuln.id }}">{{ sev_map|get_item:vuln.severity }} - {{ vuln.name }}</button>
        {% elif vuln.severity == 4 %}
        <button type="button" class="btn btn-outline-danger btn-sm btn-block" data-toggle="collapse" data-target="#detail-{{ vuln.id }}">{{ sev_map|get_item:vuln.severity }} - {{ vuln.name }}</button>
        {% endif %}
      </div>
      <div class="col-md-12 collapse text-wrap" id="detail-{{ vuln.id }}">
        <pre class="text-wrap">{{ vuln.description|escape }}</pre>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
