{% extends "./base.html" %}

{% block content %}
    <div class="container">
      {% for category, category_stats in webapp_stats.items|dictsort:"0.lower" %}
      <div class="row">
        <div class="col-lg-12">
          <h6 class="text-uppercase">
            {{ category }}
            <div class="float-right">
              {% for stat, stat_data in category_stats.items %}
              <span class="badge badge-{{ forloop.counter0 | get_context_idx}} mt-2">{{stat_data.display | format_string:stat_data.data}}</span>
              {% endfor %}
            </div>
            <hr class="solid">
          </h6>
        </div>
        {% for app in category|get_value_by_key:armory_webapps_grouped %}
        <div class="col-lg-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="" alt="">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ app.name}}">{{ app.pretty_name}}</a></h5>
              <p class="card-text">
                {{ app.description}}
              </p>
              <div class="float-right">
                {% for author in app.authors %}
                <a href="{{ author.url}}" class="badge badge-secondary mt-2">
                  @{{ author.name }}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
{% endblock %}