<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Daniel Lawson @fang0654">
  <link rel="icon" href="favicon.ico">
  <title>
    {% block title %}Armory Web Applications{% endblock %}
  </title>

  <link rel="stylesheet" href="{% static 'armory_main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'armory_main/plugins/bootstrap-select/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'armory_main/css/default.css' %}">

  <script src="{% static 'armory_main/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'armory_main/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'armory_main/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
  
</head>
<body>

<div id="content">
  {% block content %}{% endblock %}
</div>

</body>
</html>


