          {% for domain in domains %}
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5 d-flex align-items-center flex-wrap">
                <p class="mb-0 mr-2">{{ domain.name }}</p>
                <a href="https://{{ domain.name }}" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-info" title="Open https://{{ domain.name }} in a new tab" aria-label="Open https://{{ domain.name }} in a new tab">↗</a>
              </div>
              

              <div class="col-md-1" align="center">
                <input type="checkbox" class = "changescope" id="domain-active-{{ domain.id }}" {% if domain.active_scope %} checked {% endif %} >
              </div>
              <div class="col-md-1" align="center">
                <input type="checkbox" class = "changescope" id="domain-passive-{{ domain.id }}" {% if domain.passive_scope %} checked {% endif %} >
              </div>

            </div>
          {% endfor %}